@page "/SubGroup"
@using Blazored.Toast.Services
@using Client.Contracts
@using Client.Static
@using Share.Models

@inject IAuthenticationRepository _repo
@inject IArticleRepository _repoArticle
@inject NavigationManager _navManager
@inject IToastService _toastService


<AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="shadowed-form mx-auto" style="width: 500px">
            <div class="centered">
                <h3>Podgrupe</h3>
                <hr class="blue-hr" />
                <div class="error-message">
                    @if (!string.IsNullOrWhiteSpace(errorMessage))
                    {
                        @errorMessage
                    }
                </div>
            </div>
            <EditForm Model="Model" OnValidSubmit="HandleRegistration" Context="EditForm">
                <DataAnnotationsValidator />
                @* <ValidationSummary /> *@
                <div class="form-group mb-2">
                    <label for="group">Group</label>
                    <InputSelect @bind-Value="Model.GroupId" class="form-control" id="group">
                        <option value="0">-- Izaberite grupu --</option>
                        @foreach (var group in AllGroups)
                        {
                            <option value="@group.Id">@group.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Model.GroupId)" class="error-message"/>
                </div>
                <div class="form-group mb-4">
                    <label for="firstname">Ime podgrupe</label>
                    <InputText @bind-Value="Model.Name" class="form-control" id="emailaddress" />
                    <ValidationMessage For="@(() => Model.Name)" class="error-message"/>
                </div>
                <div class="centered">            
                    <button class="btn btn-primary" type="submit">Kreiraj novu podgrupu</button>
                </div>
            </EditForm>
            <br />
            <hr />
            <br />
            <h4>Lista svih pogrupa</h4>

            <table class="table table-hover table-bordered">
                <thead class="table-active">
                    <tr>
                        <th>Grupa</th>
                        <th>Podgrupa</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in AllGroupsWithSubgroups)
                    {
                        @foreach (var subgroup in group.Subgroups)
                        {
                            <tr>
                                <td>@group.Name</td>
                                <td>@subgroup.Name</td>
                                <td class="text-center">
                                    <a class="icon-btn me-3" @onclick="@(() => Edit(subgroup.Id))">✏️</a>
                                    <a class="icon-btn" @onclick="@(() => Delete(subgroup.Id))">🗑️</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        
    </Authorized>
    <NotAuthorized>
        <p>Nemate pristup ovoj stranici.</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    private SubgroupModel Model = new SubgroupModel();
    private bool isSuccess = true;
    private string? errorMessage;
    private string userEmail = string.Empty;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private IList<GroupModel> AllGroups = new List<GroupModel>();
    private IList<GroupModel> AllGroupsWithSubgroups = new List<GroupModel>();

    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userEmail = user.Identity.Name;
            AllGroups = await _repoArticle.GetAllGroup(user.Identity.Name);
            AllGroupsWithSubgroups = await _repoArticle.GetAllGroupWithSubgroup(user.Identity.Name);
        }
    }

    private async Task HandleRegistration()
    {

        var result = await _repoArticle.AddSubGroup(Model);
        if (result)
        {
            Model = new SubgroupModel();
            errorMessage = "";
            AllGroupsWithSubgroups = await _repoArticle.GetAllGroupWithSubgroup(userEmail);

        }
        else
        {
            errorMessage = "Greska kod dodavanja grupe";
        }
    }

    private void Edit(int id)
    {
        _navManager.NavigateTo($"/EditSubGroup/{id}");
    }

    private async Task Delete(int id)
    {
        var result = await _repoArticle.DeleteSubGroup(id);
        if (result)
        {
            errorMessage = "";
            AllGroupsWithSubgroups = await _repoArticle.GetAllGroupWithSubgroup(userEmail);

        }
        else
        {
            errorMessage = "Greska pri brisanju";
        }
    }
}
