@page "/CreateOrder"
@using Blazored.Toast.Services
@using Client.Contracts
@using Client.Static
@using Share.Models

@inject IAuthenticationRepository _repo
@inject IOrderRepository _repoOrder
@inject IArticleRepository _repoArticle
@inject NavigationManager _navManager
@inject IToastService _toastService

<AuthorizeView>
    <Authorized>
        <button class="btn btn-secondary" style="float: right;" @onclick="() => GoBack()">Nazad</button>
        <h3>Kreiranje porudžbinu</h3>
        <hr />
        <br />
        <div class="centered error-message">
            @if (!string.IsNullOrWhiteSpace(message))
            {
                @message
            }
        </div>
        <EditForm Model="OrderModel" OnValidSubmit="HandleAdd" Context="EditForm">
            <DataAnnotationsValidator />
            @* <ValidationSummary /> *@
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="group">Izaberi sto</label>
                    <InputSelect @bind-Value="OrderModel.DeskNo" class="form-control" id="group">
                        <option value="">-- Izaberite sto --</option>
                        @for (int i = 1; i <= ModelCompany.TablesNo; i++)
                        {
                            <option value="Sto @i">Sto @i</option>
                        }
                        @for (int i = 1; i <= ModelCompany.SunLoungersNo; i++)
                        {
                            <option value="Lezaljka @i">Ležaljka @i</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => OrderModel.DeskNo)" class="error-message" />
                </div>
                @* <div class="form-group col-md-6">
                    <label for="group">Izaberi konobara</label>
                    <InputSelect @bind-Value="OrderModel.ApplicationUserEmail" class="form-control" id="group">
                        <option value="">-- Izaberite konobara --</option>
                        @foreach (var user in AllUsers)
                        {
                            <option value="@user.Email">@user.FullName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => OrderModel.ApplicationUserEmail)" class="error-message"/>
                </div> *@
            </div>
            <br />
            <hr />


            @foreach (var article in OrderModel.ArticleModels)
            {
                <div class="row align-items-end mb-3">
                    <div class="col-md-6">
                        <label>Artikal</label>
                        <InputSelect @bind-Value="article.Id" class="form-control">
                            <option value="0">-- Izaberite artikal --</option>
                            @foreach (var group in AllArticles)
                            {
                                @foreach (var subgroup in group.Subgroups)
                                {
                                    <optgroup label="@($"{group.Name} - {subgroup.Name}")">
                                        @foreach (var artikal in subgroup.Articles)
                                        {
                                            <option value="@artikal.Id">@artikal.Name (@artikal.Price.ToString("F2")€)</option>
                                        }
                                    </optgroup>
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => article.Id)" class="error-message"/>
                    </div>

                    <div class="col-md-3">
                        <label>Količina</label>
                        <InputNumber @bind-Value="article.Amount" class="form-control" min="1" />
                        <ValidationMessage For="@(() => article.Amount)" />
                    </div>

                    <div class="col-md-3 text-center">
                        <button type="button" class="btn btn-danger mt-4" @onclick="@(() => RemoveArticle(article))">Ukloni</button>
                    </div>
                </div>
                <hr />
            }

            <button type="button" class="btn btn-secondary mb-3" @onclick="AddArticle">Dodaj artikal</button>
            <br /> <br />
            <div class="centered mb-4">
                <button class="btn btn-primary" type="submit">Pošalji narudžbinu</button>
            </div>

        </EditForm>
    </Authorized>
    <NotAuthorized>
        <p>Nemate pristup ovoj stranici.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private CompanyModel ModelCompany = new CompanyModel();
    private OrderModel OrderModel = new OrderModel();
    private IList<GroupModel> AllArticles = new List<GroupModel>();
    private IList<RegistrationUserModel> AllUsers = new List<RegistrationUserModel>();

    private bool isSuccess = true;
    private string message = string.Empty;
    private String userEmail { get; set; } = string.Empty;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userEmail = user.Identity.Name;
            ModelCompany = await _repo.GetCompanyPerEmail(user.Identity.Name);
            AllArticles = await _repoArticle.GetAllArticles(user.Identity.Name);
            OrderModel.ArticleModels.Add(new ArticleModelOrder { Amount = 1 });
            AllUsers = await _repo.GetAllUsers(user.Identity.Name);
        }
        else
        {
            _navManager.NavigateTo("/Login");
        }
    }
    private void AddArticle()
    {
        OrderModel.ArticleModels.Add(new ArticleModelOrder { Amount = 1 });
    }
    private void RemoveArticle(ArticleModelOrder stavka)
    {
        OrderModel.ArticleModels.Remove(stavka);
    }
    private async Task HandleAdd()
    {
        message = "";
        foreach (var artile in OrderModel.ArticleModels)
        {
            if(artile.Id < 1)
            {
                message = "Unesite sve nazive dodatih artikala.";
                return;
            }
        }
        OrderModel.ApplicationUserEmail = userEmail;
        var response = await _repoOrder.AddOrder(OrderModel);

        if (response)
        {
            // Uspešno promenjeno
            _navManager.NavigateTo("/order");
        }
        else
        {
            // Prikaz poruke o grešci
            message = "Došlo je do greške. Molimo kontaktirajte administratora.";
        }
    }
    private void GoBack()
    {
        _navManager.NavigateTo("/Order/");
    }

}
