@page "/order"
@using Blazored.Toast.Services
@using Client.Contracts
@using Client.Static
@using Share.Models

<h3>Settings</h3>


@inject IAuthenticationRepository _repo
@inject NavigationManager _navManager
@inject IToastService _toastService


<AuthorizeView>
    <Authorized>
        <button class="btn btn-danger btn-sm" @onclick="@(() => CreateOrderLink())">Create Order</button>
        Stolovi <br />
        @for (int i = 1; i <= ModelCompany.TablesNo; i++)
        {
            <a href="@($"/EditOrder/Sto {i}")">@i</a> <br />
        }<br />
        Lezaljke
        <br />
        @for (int i = 1; i <= ModelCompany.SunLoungersNo; i++)
        {
            <a href="@($"/EditOrder/Lezaljka {i}")">@i</a> <br />
        }
    </Authorized>
    <NotAuthorized>
        <p>Nemate pristup ovoj stranici.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private CompanyModel ModelCompany = new CompanyModel();
    private bool isSuccess = true;
    private string? message;
    private string userName = string.Empty;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
            ModelCompany = await _repo.GetCompanyPerEmail(user.Identity.Name);
        }
    }
    private void CreateOrderLink()
    {
        _navManager.NavigateTo($"/CreateOrder");
    }
}
